@import "../bower_components/ecg-assets-common/assets/sass/ecg-variables";
@import "../bower_components/ecg-assets-common/assets/sass/variables-screen-sizes";
@import "../bower_components/ecg-assets-common/assets/sass/general-variables";

.progress-test {
  height: 2px !important;

  .progress-bar {
    background-color: $color-ecg-turquoise-light !important;
  }
}

.readMore-container {
  padding-bottom: 20px;
}

.question-data-form {
  max-width: 300px;
  font-size: $font-size-bigger;

  input,
  select {
    font-size: $font-size-big;
  }
}

.questionNav-container {
  height: 6rem;
}

.questionIndicator {
  text-align: center;
  font-size: 2rem;
  color: $color-ecg-olive-dark;
}

.questionText {
  padding: 20px 0;
  min-height: 11em;
  font-size: $font-size-big;
}

.result-company-name-container {
  padding-bottom: $distance-small;
  text-align: center;

  h2 {
    margin-top: 5px;
    color: $color-grey-light;
  }
}

.progress-vertical-ecg {
  float: right !important;
  width: 50px !important;
  height: 150px !important;
}

.progress-bar {
  font-size: 16px !important;
}

.resultFeedbackText {
  font-size: $font-size-big;
}

/* Custom page footer */
.footer {
  margin-top: 20rem;
  color: #E0E0E0;

  a {
    color: $color-ecg-turquoise;
  }

  a:hover {
    color: $color-ecg-turquoise-dark;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (min-width: 0px) and (max-width: $screen-xs-min) {
  .questionText {
    min-height: 12em;
  }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-md) {
  .questionText {
    min-height: 11em;
  }
}
